* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
del {
	text-decoration: line-through;
}
body {
	font-family: 'Inter-Regular', Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #000;
	overflow-x: hidden;
	min-width: 320px;
	font-weight: 500;
}
input,textarea,select{
	font-family: 'Inter-Regular', Arial, Helvetica, sans-serif;
	font-weight: 500;
}

a{
	color: #000;
}
.thumb{
	display: block;
}
.thumb img{
	display: block;
	width:100%;
}
p{
	line-height:1.6em;
	font-size: 16px;
	font-family: 'Inter-Regular', Arial;
	font-weight: 500;
	color: #000;
}
.hidden{
	display:none;
}
br.clear {
	clear: both;
	line-height: 0;
}
.wrapper {
	width: 90%;
	margin: 0 auto;
	max-width:1440px;
}
.flex-wrapper {
	display: flex;
	justify-content: space-between;
}
@font-face {
    font-family: 'Inter-Bold';
    src: url('../fonts/Inter-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter-Light';
    src: url('../fonts/Inter-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter-ExtraBold';
    src: url('../fonts/Inter-ExtraBold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter-Regular';
    src: url('../fonts/Inter-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter-Medium';
    src: url('../fonts/Inter-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter-Black';
    src: url('../fonts/Inter-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter-ExtraLight';
    src: url('../fonts/Inter-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter-SemiBold';
    src: url('../fonts/Inter-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter-Thin';
    src: url('../fonts/Inter-Thin.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
#container{

}
#container img.vector{
    position: absolute;
    z-index: -2;
    width: 100vw;

}
#container img.subtract{
    position: absolute;
    z-index: -1;
    width: 100vw;
   
}

header{
    padding: 20px 0;

}
header section.content{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
header section.content h1{
    width: 100px;

}
header section.content h1 img{
    width: 100%;
    display: block;

}
header section.content nav.middle{
   

}
header section.content nav.middle ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header section.content nav.middle ul li{
    margin-right: 40px;

}
header section.content nav.middle ul li:last-child{
    margin-right: 0;
}
header section.content nav.middle ul li a{
    font-size: 20px;
    color: #fff;
    font-weight: 500;

}
header section.content span{

}
header section.content span a.button{
    padding: 16px 40px;
    border-radius: 20px;
    background-image: linear-gradient( to right, #69a543, #bced9c);
    color: #fff;
    font-weight: 500;
    font-size: 20px;

}
#spotlight{
    padding: 80px 0px 0 30px; 

}
#spotlight h1{
    font-size: 72px;
    width: 55%;
    font-weight: 800;
    color: #fff;
    margin-bottom: 20px;

}
#spotlight p{
    width: 60%;
    font-size: 18px;
    color: #fff;
    margin-bottom: 40px;
    

}
#spotlight a.button{
    color: #fff;
    padding: 16px 40px;
    border-radius: 20px;
    font-size: 18px;
    background-image: linear-gradient( to right, #69a543, #bced9c);
}
#about{
    background-image: url(../Assets/Vector\ 283.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 500px;
    
}
#about div.container{
    max-width: 900px
 
  
}
#about div.container h2{
    font-size: 50px;  
    font-weight: 800;
    margin-bottom: 20px;

}
#about p{
    font-size: 20px;
    max-width: 840px;
    


}
#services{
    padding: 40px 0 30px;

}
#services h2{
    font-size: 50px;  
    font-weight: 800;
    max-width: 300px;
    margin: 0 auto 30px;

}
#services section.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80%;
    margin: 0 auto;

}
#services section.flex div.item{
    width: 31%;
    text-align: center;

}
#services section.flex div.item div.container{
    position: relative;
}
#services section.flex div.item div.container img.frame{

}
#services section.flex div.item div.container img.comp{
    position: absolute;
    width: 65px;
    right: 40%;
    bottom: 34%;
    filter: invert(100%);


}
#services section.flex div.item h4{
    font-size: 30px;
    margin: 20px 0;

}
#services section.flex div.item p{
    font-size: 20px;

}
#consulting{
    background: url("../Assets/Vector\ 284.png") center / cover no-repeat;
	background-size: 100% 900px;
    margin-top: -6%;
    height: 950px;
    
}
#consulting section.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 19.5% 0 0;

}
#consulting section.container div.left{
    width: 48%;
}
#consulting section.container div.left div.image{

}
#consulting section.container div.image img{
    width: 100%;
    display: block;
    border-radius: 102% 54% 102% 55%/ 110% 81% 94% 64%;
   
  
}
#consulting section.container div.right{
width: 48%;
margin-left: 20px;
}
#consulting section.container div.right h2{
    font-size: 50px;
    font-weight: 800;
    width: 100%;
    margin-bottom: 20px;
}
#consulting section.container div.right p{
    font-size: 20px;
    margin-bottom: 30px;

}
#consulting section.container div.right a.button{
    padding: 16px 40px;
    border-radius: 20px;
    background-image: linear-gradient( to right, #69a543, #bced9c);
    display: inline-block;
    font-size: 20px;

}
#middle{

}
#middle div.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}
#middle div.flex section.left{
    width:35%;
}
#middle div.flex section.left h2{
    width: 100%;
    font-size: 50px;
    font-weight: 800;
}
#middle div.flex ul{
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}
#middle div.flex ul li{
    text-align: center;

}
#middle div.flex ul li section.top{
}
#middle div.flex ul li section.bottom{
    margin-top: 95px;
}
#middle div.flex ul li div.content{
    width: 60px;
    margin: 0 auto;


}
#middle div.flex ul li div.content img{

    width: 100%;
    display: block;
    filter: invert(68%) sepia(24%) saturate(580%) hue-rotate(50deg) brightness(90%) contrast(87%)
}
#middle div.flex ul li h5{
    font-size: 22px;
    font-weight: 800;
    margin: 20px 0;

}
#middle div.flex ul li p{
    font-size: 20px;
    width: 90%;
    font-weight: 550;

}
#redefine{
    background: url("../Assets/Vector\ 285.png") center / cover no-repeat;
	background-size: 100% 900px;
    margin-top: -4%;
    height: 950px;
    

}
#redefine section.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15%;

}
#redefine section.container div.left{
    width: 47%;

}
#redefine section.container div.left h2{
    max-width: 90%;
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 20px;
}
#redefine section.container div.left p{
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 550;
    max-width: 96%;

}
#redefine section.container div.left h5{
    font-size: 22px;
    font-weight: 800;
    margin-bottom: 20px;

}
#redefine section.container div.left ul{

} 
#redefine section.container div.left ul li{
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 550;
    max-width: 96%;

}
#redefine section.container div.left ul li:last-child{
    margin-bottom: 0;
} 
#redefine section.container div.right{
    width: 48%;
}

#redefine section.container div.right div.image{
   
   


}
#redefine section.container div.right div.image img{
    width: 100%;
    border-radius: 102% 54% 102% 55%/ 110% 81% 94% 64%;

}
#talks{
     padding: 6% 0;

}
#talks h2{
    max-width: 800px;
    font-size: 50px;
    font-weight: 800;
    margin: 0 auto 30px;

}
#talks section.redefine{
    display: flex;
    width: 70%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
   

}
#talks section.redefine div.left{
    background-image: url(../Assets/Frame\ 3466320.png);
    background-repeat: no-repeat;
    width: 48%;
    height: 330px;
    background-position: 80px -15px;
    background-size:340px 340px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}
#talks section.redefine div.left div.container{
    height: 170px;
    width: 170px;
    margin-bottom: 7%;

}
#talks section.redefine div.left div.container img{
  width: 102%;
  display: block;
  border-radius: 50%;
  height: 197px;
  border: 5px solid #fff;
}
#talks section.redefine div.right{
    width: 48%;

}
#talks section.redefine div.right h4{
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 800;

}
#talks section.redefine div.right p{
    font-size: 18px;
    font-weight: 550;

}
#talks section.partners{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;

}
#talks section.partners div.heading{
    width: 25%;
}
#talks section.partners div.heading h2{
    margin: 0 auto;
    width: 90%;
}
#talks section.partners div.logo{
  width: 75%;
}
#talks section.partners div.logo ul{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
#talks section.partners div.logo ul li{
    width: 23%;
}
#talks section.partners div.logo ul li img{
    display: block;
    width: 100%;

}
#touch { 

}

#touch section.bg { 
    height: 920px;
    width: 100%;
    background: #75aa58;
    border-top-right-radius: 47% 55%;
    border-top-left-radius: 54% 96%;
    padding-top: 4%;

}

#touch section.background { 
    height: 920px;
    width: 100%;
    background: #d9d9d9;
    border-top-right-radius: 47% 55%;
    border-top-left-radius: 62% 87%;
    padding-top: 5%;
   

}

#touch section.background div.vector { 
    background-image: url(../Assets/Vector\ 287.png);
    padding: 8% 0 3%;
    background-repeat: no-repeat;
    

}

#touch section.background div.vector img { 

}


#touch section.background div.vector  div.flex { 
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#touch section.background div.vector  div.flex div.image { 
    width: 45%;
}

#touch section.background div.vector  div.flex div.image img { 
    border-radius: 59% 41% 47% 53% / 49% 56% 44% 51%;
    width: 100%;
    display: block;

}

#touch section.background div.vector  div.flex div.form { 
    width: 45%;
}

#touch section.background div.vector  div.flex div.form h4 { 
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 800;

}

#touch section.background div.vector  div.flex div.form form { 
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    

}
#touch section.background div.vector  div.flex div.form form input{
    background: #fff;
    margin-bottom: 30px;
    height: 40px;
    border-radius: 8px;
    padding-left: 10px;
    font-size: 16px;
    font-weight: 800;
    
   


}

#touch section.background div.vector  div.flex div.form form input.text {
    width: 48%;
    

}

#touch section.background div.vector  div.flex div.form form input.one { 
    width: 100%;
    height: 60px;
}

#touch section.background div.vector  div.flex div.form form textarea{ 
    width: 100%;
    background: #fff;
    border-radius: 8px;
    padding: 10px;
    font-size: 16px;
    font-weight: 800;
    color: #000;


}

#touch section.background div.vector  div.flex div.form a.button { 
    color: #fff;
    padding: 16px 40px;
    border-radius: 20px;
    font-size: 18px;
    background-image: linear-gradient( to right, #69a543, #bced9c);
    display: inline-block;
    margin-top: 20px;
    

}

#touch section.background div.vector  hr.line { 
    border: 1px solid #fff;
    margin: 50px 0;
}

#touch section.background div.vector  footer { 
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #fff;

   
}

#touch section.background div.vector  footer div.contact { 
    text-align: center;

}

#touch section.background div.vector  footer div.contact h4 { 
    font-size: 30px;

}

#touch section.background div.vector  footer div.contact a{ 
    margin: 10px 0;
    display: inline-block;
    color: #fff;

}

#touch section.background div.vector  footer div.contact div.social {
    margin-top: 10px;

}

#touch section.background div.vector  footer div.contact div.social ul { 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#touch section.background div.vector  footer div.contact div.social ul li { 
   background: #75aa58;
   padding: 4px;
   border-radius: 5px;

}

#touch section.background div.vector  footer div.contact div.social ul li img { 
    width: 100%;
    display: block;
    filter: invert(100%);
}

#touch section.background div.vector  footer div.blog { 

}

#touch section.background div.vector footer h4 { 
    font-size: 30px;
    margin-bottom: 20px;

}

#touch section.background div.vector  footer  ul { 

}

#touch section.background div.vector  footer  ul li { 

    font-size: 16px;
    margin-bottom: 20px;
}
@media all and (max-width: 1380px){
    #spotlight {
        padding: 60px 0 0 0;
    }
    #spotlight h1 {
        font-size: 60px;
        width: 55%;
        font-weight: 700;
        color: #fff;
        margin-bottom: 20px
    }
    #about{
        height: 530px;
        margin-top: 250px
    }
    #about div.container h2 {
        font-size: 46px
    }
    #services h2 {
        font-size: 46px
    }
    #consulting section.container{
        padding: 26.5% 0 0;
    }
    #consulting section.container div.right h2{
        font-size: 46px;
        font-weight: 600;
    }
    #middle div.flex section.left {
        width: 32%;
    }
    #middle div.flex section.left h2{
        font-size: 44px;
        line-height: 1.4em;
        font-weight: 600;
    }
    #middle div.flex ul {
        width: 77%
    }
    #redefine {
        background-size: 122% 900px;
    }
    #redefine section.container{
        padding-top: 21%;
    }
    #redefine section.container div.left{
        width: 50%;
    }
    #redefine section.container div.left h2{
        font-size: 44px;
        font-weight: 600;
    }
    #redefine section.container div.left p{
        max-width: 100%;
    }
    #redefine section.container div.left ul li{
        max-width:100%;
    }
    #talks h2{
        font-weight: 600;
        font-size: 46px;
    }
    #talks section.redefine div.left{
        background-position: 37px -15px;

    }
    #talks section.partners div.heading h2{
        font-size: 44px;
        font-weight: 600;
        width: 93%;
    }
    
}
@media all and (max-width:1280px){
    header section.content nav.middle ul li a{
        font-size: 18px;
    }
    header section.content span a.button{
        font-size: 18px;
    }
    #spotlight {
        padding: 20px 0 0 0;
        
    }
    #spotlight h1 {
        font-size: 50px;
        margin-bottom: 10px;
    }
    #spotlight p{
        margin-bottom: 26px;
    }
    #about{
        margin-top: 120px;
        height: 450px;
    }
    #about div.container h2{
        font-size: 40px;
    }
    #about p{
        font-size: 18px;
        max-width: 735px;
    }
    #services h2{
        font-size: 40px;
    }
    #services section.flex div.item h4{
        font-size: 26px;
    }
    #services section.flex div.item p{
        font-size: 18px;
    }
    #consulting{
        margin-top: -12%;
        background-size: 103% 800px;
        height: 830px;
    }
    #consulting section.container div.right h2{
        font-size: 40px;
    }
    #consulting section.container div.right p{
        font-size: 18px;
    }
    #consulting section.container div.right a.button{
        font-size: 18px;
    }
    #middle div.flex section.left h2{
        font-size: 40px;
    }
    #middle div.flex ul li h5{
        font-weight: 600;
    }
    #middle div.flex ul li p{
        font-size: 18px;
        width: 97%;

    }
    #middle div.flex ul li section.bottom{
        margin-top: 50px;
    }
    #redefine{
        margin-top: -13%;
        background-size: 117% 849px;
        height: 900px;

    }
    #redefine section.container{
        padding-top: 24%;
    }
    #redefine section.container div.left h2{
        font-size: 40px;
    }
    #redefine section.container div.left p{
        font-size: 18px;
    }
    #redefine section.container div.left ul li{
        font-size: 18px;
    }
    #talks h2{
        font-size: 40px;
    }
    #talks section.redefine div.left{
        background-position: -20px -9px;
    }
    #talks section.redefine div.left div.container {
        margin-bottom: 13%;
    }
    #talks section.redefine div.right h4{
        font-size: 26px;
    }
    #talks section.partners{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
    }
    #talks section.partners div.heading{
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
    }
    #talks section.partners div.heading h2{
        font-size: 40px;
        max-width: 60%;
        margin: 0 auto;
    }
    #touch section.background div.vector div.flex div.form h4{
        font-size: 26px;
    }
    #touch section.background div.vector div.flex div.form form input{
        font-size: 14px;
    }
    #touch section.background div.vector div.flex div.form form textarea{
        font-size: 14px;
    }
    #touch section.background div.vector div.flex div.form a.button{
        font-size: 16px;
    }
    #touch section.background div.vector footer div.contact h4{
        font-size: 26px;
    }
    #touch section.background div.vector footer div.contact a{
        font-size: 14px;
    }
    #touch section.background div.vector footer h4{
        font-size: 26px;
    }
    #touch section.background div.vector footer ul li{
        font-size: 14px;
    }
}
@media all and (max-width:1080px){
    #spotlight{
        padding: 0;
    }
    #spotlight h1{
        font-size: 46px;
    }
    #services section.flex div.item div.container img.comp{
        right: 34%;
    }
    #consulting section.container div.right h2 {
        margin-bottom: 15px;
    }
    #consulting section.container div.right p{
        margin-bottom: 15px;
    }
    #middle div.flex{
        flex-wrap: wrap;
        padding-top: 2%;
    }
    #middle div.flex section.left{
        width: 100%;
        margin-bottom: 20px;
    }
    #middle div.flex section.left h2{
        max-width: 80%;
        text-align: center;
        margin: 0 auto;
    }
    #middle div.flex ul{
        width: 100%;
    }
    #redefine section.container{
        padding-top: 28%;
    }
    #redefine section.container div.left h2{
        margin-bottom: 10px;
    }
    #redefine section.container div.left h5{
        margin-bottom: 10px;
    }
    #talks h2{
        text-align: center;
    }
    #talks section.redefine{
        width: 90%;
    }
    #talks section.redefine div.left {
        background-position: 12px -9px;
    }
}
@media all and (max-width:980px){
    header{
        padding: 16px 0 7px;
    }
    header section.content h1 {
        width: 90px;
    }
    header section.content nav.middle ul{
        display: none;
    }
    header section.content span a.button {
        padding: 12px 30px;
        font-size: 16px;
    }
    #spotlight h1 {
        font-size: 36px;
        width: 69%;
        margin-bottom: 8px;
    }
    #spotlight p {
        width: 70%;
        font-size: 16px;
        margin-bottom: 12px;
    }
    #spotlight a.button{
        padding: 8px 18px;
        font-size: 14px;
    }
    #about {
        margin-top: 90px;
        height: 350px;
    }
    #about div.container h2 {
        font-size: 30px;
        margin-bottom: 15px;
        margin-top: 24px;
    }
    #about p {
        font-size: 16px;
        max-width: 563px;
    }
    #services h2 {
        font-size: 30px;
        text-align: center;
    }
    #services section.flex div.item h4 {
        font-size: 22px;
    }
    #services section.flex div.item p {
        font-size: 16px;
    }
    #consulting section.container{
        flex-wrap: wrap;
    }
    #consulting section.container div.left div.image{
        width: 100%;
    }
    #consulting section.container div.right{
        width: 100%;
        margin-top: 20px;
    }
    #consulting section.container div.right h2 {
        font-size: 36px;
        max-width:  90%;
    }
    #consulting section.container div.right p{
        font-size: 16px;
        max-width: 90%;
    }
    #consulting section.container div.right a.button{
        padding: 8px 18px;
        font-size: 14px;
        margin-left: 200px;
        color: #fff;
    }
    #middle div.flex section.left h2 {
        font-size: 36px;
    }
    #middle div.flex ul li p{
        font-size: 16px;
    }
    #redefine section.container{
        flex-wrap: wrap;
        padding-top: 40%;
    }
    #redefine section.container div.left {
        width: 100%;
        margin-bottom: 30px;
    }
    #redefine section.container div.right {
        width: 100%;
        
    }
    #redefine section.container div.right div.image {
        width: 48%;
        margin-left: 50%;
    }
    #redefine section.container div.left h2 {
        font-size: 36px;
    }
    #redefine section.container div.left p {
        font-size: 16px;
    }
    #redefine section.container div.left h5 {
        font-size: 20px;
    }
    #redefine section.container div.left ul li {
        font-size: 16px;
        margin-bottom: 4px;
    }
    #talks h2 {
        font-size: 36px;
    }
    #talks section.redefine{
        flex-wrap: wrap;
    }
    #talks section.redefine div.left{
        width: 100%;
        background-position: 130px -25px;
        margin-bottom: 10px;
    }
    #talks section.redefine div.right {
        width: 100%;
    }
    #talks section.redefine div.right h4 {
        font-size: 22px;
        text-align: center;
    }
    #talks section.redefine div.right p {
        font-size: 16px;
        font-weight: 550;
        width: 80%;
        margin: 0 auto;text-align: center;
    }
    #talks section.partners div.heading h2{
        font-size: 36px;
    }
    #touch section.bg {
        
        border-top-right-radius: 39% 34%;
        border-top-left-radius: 57% 99%;
        height: 820px;
    }
    }
    #touch section.background {
        border-top-right-radius: 41% 36%;
        border-top-left-radius: 61% 102%;
        height: 820px;
        padding-top: 8%;
    }
    #touch section.background div.vector{
        padding: 8% 0 0;
        height: 820px;
    }
    #touch section.background div.vector div.flex div.form h4 {
        font-size: 22px;
    } 
    #touch section.background div.vector div.flex div.form form input {
        font-size: 12px;
    }
    #touch section.background div.vector div.flex div.form form textarea {
        font-size: 12px;
    }
    #touch section.background div.vector div.flex div.form a.button {
        font-size: 12px;
        padding: 8px 18px;
    }
    #touch section.background div.vector footer div.contact h4 {
        font-size: 22px;
    }
    #touch section.background div.vector footer div.contact a {
        font-size: 12px;
    }
    #touch section.background div.vector footer div.contact div.social ul li {
        
        padding: 2px;
        border-radius: 8px;
    }
    #touch section.background div.vector footer h4 {
        font-size: 22px;
    }

}








































